@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: "Colnago Serif Bold Italic";
  src: url("/fonts/ColnagoSerifBoldItalic.otf");
}
@font-face {
  font-family: "Colnago Serif Bold";
  src: url("/fonts/ColnagoSerifBold.otf");
}
@font-face {
  font-family: "Colnago Serif Regular";
  src: url("/fonts/ColnagoSerifRegular.otf");
}
@font-face {
  font-family: "Colnago Serif Italic";
  src: url("/fonts/ColnagoSerifRegularItalic.otf");
}
@font-face {
  font-family: "Colnago Sans Regular";
  src: url("/fonts/ColnagoSansRegular.otf");
}
@font-face {
  font-family: "Colnago Sans Bold";
  src: url("/fonts/ColnagoSansBold.otf");
}

h3 {
  font-family: "Colnago Serif Bold Italic", sans-serif;
}

h5 {
  font-family: "Colnago Sans Regular", sans-serif;
}

h1 {
  font-family: "Colnago Sans Bold", sans-serif;
}
