.swiper-button-next,
.swiper-button-prev {
  color: #171717;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.5em;
}

.swiper-pagination-bullet-active {
  background-color: #171717;
}

.swiper-slide {
  padding: 0 3em;
  background-color: white;
}
